body {
	height: 100%;
	background-color: #324154;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 4% 8%;
}

.container {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #597298;
	border-radius: 15px;
	max-height: 100vh;
	font-family: monospace;
}

.container a {
	display: flex;
	justify-content: end;
	margin-top: 13%;
}

.container img {
	width: 90%;
	border-radius: 15px;
}

.container .heading {
	font-size: 16pt;
	color: white;
	text-align: center;
	padding: 7.5% 5%;
}
